@font-face
  font-family: "PTSansBold"
  src: url("Fonts/fonts/PTSansBold.ttf")

@font-face
  font-family: "PTSansRegular"
  src: url("Fonts/fonts/PTSansRegular.ttf")


*
  margin: 0
  padding: 0

.container
  background: #fcdb00
  height: 742px


.wrapper
  background-color: #fcdb00
  height: 742px
  margin: auto
  width: 85%

.header
  padding-top: 49px
  font-family: PTSansBold
  display: flex
  justify-content: space-between


  p
    font-size: 30px
    font-weight: bold
    margin: 0 10px


.logo
  display: flex


.menu
  display: flex
  font-size: 22px
  font-weight: bold


  a
    text-decoration: none
    color: black
    margin: 8px 65px


.leftSide

  padding-top: 85px

  div
    padding-top: 13px

  h1
    font-family: PTSansBold
    font-size: 32px

  h3
    font-family: PTSansRegular
    font-size: 20px
    color: #313841

  p
    color: #555555
    font-size: 16px
    font-family: PTSansRegular

.content
  display: flex
  justify-content: space-between
  padding-top: 95px

  .phone__back
    background: #ffffff
    width: 316px
    height: 470px
    border-radius: 10%
    display: flex
    justify-content: center
    padding: 57px 0 0 0

  .phone__front
    background: #010101
    width: 288px
    height: 382px
    display: flex
    justify-content: center
    padding: 43px 4px 0px 4px


.header__block
  display: flex
  padding-top: 139px

  p
    color: #fcdb00
    font-size: 30px
    font-weight: bold
    font-family: PTSansBold
    margin: 0 10px

.icons
  display: flex
  justify-content: space-between
  width: 200px

.dots
  display: flex
  justify-content: space-around
  width: 46px
  margin: auto
  padding-top: 10px

  #dot
    background: white
    height: 14px
    width: 14px
    border-radius: 50%


.wrapper_page2
  padding-top: 118px
  width: 95%
  height: 742px
  margin: auto

  .title
    p
      text-align: center

  h3
    font-family: PTSansBold
    font-size: 32px
    display: flex
    justify-content: center

  p
    font-family: PTSansRegular
    font-size: 20px
    color: #313841
    display: flex
    justify-content: center

  h4
    font-size: 22px
    padding-left: 4%
    font-family: PTSansBold

.wrapper__icon__fonts
  display: flex
  flex-wrap: wrap

.icon__font
  display: flex
  width: 32%
  padding-top: 80px
  margin: auto

  p
    padding-left: 13%
    font-size: 16px
    color: #898989

#description
  padding-left: 5%

.footer
  background: #010101

.wrapper_page3
  background: #010101
  height: 646px
  width: 80%
  margin: auto
  padding-top: 86px


  h1
    color: #fcdb00
    font-family: PTSansBold
    font-size: 32px
    text-align: center

  h3
    color: #898989
    font-family: PTSansRegular
    font-size: 20px
    text-align: center
    padding-top: 20px
    width: 800px

.user
  display: flex
  justify-content: space-evenly
  border-radius: 3.4px
  width: 95%
  padding-top: 20px

  button
    background: #fcdb00
    width: 126px
    height: 50px
    font-family: PTSansBold
    border: solid #fcdb00
    border-radius: 3.4px

  input
    width: 580px
    height: 50px
    border-radius: 3.4px
    border: solid white

.networks
  display: flex
  justify-content: space-around
  width: 25%
  margin: auto
  padding-top: 105px

#footer
  display: flex
  width: 65%
  margin: auto
  text-align: left
  padding-top: 185px

  div
    color: #ffffff
  font-family: PTSansRegular
  font-size: 16px


