@font-face {
    src: url("fonts/PT_SANS.ttf");
    font-family: "pt_sans";
}

@font-face {
    src: url("fonts/PT_SANS_regular.ttf");
    font-family: "pt_sans_regular";
}

*{box-sizing: border-box;
    margin: 0;
    padding: 0;}

.page1 {
    height: 742px;
    width: 100%;
    background-color: #fcdb00;
}

.header{
    display: flex;
    margin-left: auto;
    margin-right: auto;



   background: #fcdb00 center/cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#logo {
    display: flex;
    padding-left: 246px;
    padding-top: 49px;
}

#logo img {

    object-fit: contain;
    background-color: #0000;

}

#brandname1 {
    padding-left: 10px;
    margin-top: 58px;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: left;
    font-family: "pt_sans";
}

#menu div {
    display: flex;
    justify-content: end;
}



.header #menu ul {
    display: flex;
    list-style: none;
    justify-content: end;
    padding-right: 235px;
    padding-left: 425px;
    list-style: none;
    margin: -3px;
    line-height: 20px;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    background-color: #fcdb00;

}

.header #menu ul li{
    margin: 65px 68px;

}

.header #menu ul a {
    text-decoration: none;
    color: black;
    font-family: "pt_sans";
    margin-left: -62px;
}

.main_sec {
    background-color: #fcdb00;
}

.main_sec #title {
    margin: 0 250px 0;
    padding-top: 94px;
    font-family: pt_sans;
    height: 30px;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.56;
    letter-spacing: normal;
    text-align: left;


}

.main_sec #title-2 {
    margin: 46px 252px 0;
    font-family: pt_sans_regular;
    width: 309px;
    height: 43px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #313841;
}

.main_sec #info {
    margin: 23px 252px 0;
    color: #555555;
    width: 392px;
    height: 76px;
    font-family: pt_sans_regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
}

.main_sec #phone1 {
    width: 317px;
    height: 467px;
    background-color: white;
    border-radius: 25px;
    margin: -263px 270px 0 822px;

}


.main_sec #phone2 {
    background-color: black;
    width: 291px;
    height: 385px;
    margin: -429px 0px 0px 837px;
}


.main_sec #tinyone{
    font-family: "pt_sans";
    width: 96px;
    height: 29px;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: left;
    padding: 10px 0px 0px 12px;
    color: #fcdb00;

}

.main_sec #logo2 {
    display: flex;
    padding: 162px 0px 0px 72px;
}


.icons {
    display: flex;
    margin: -117px 0 0 212px;

}

.icons img {
    margin-left: 38px;
}