@media only screen and (max-width: 980px) {
.container {
    height: 812px;
}
.wrapper {
    width: 85%;
}
.leftSide {
    visibility: hidden;
}

.rightSide {
    padding-right: 260px;
}

.wrapper .menu {
    display: inline-grid;
}
.content {
    padding-top: 30px;
}

.dots {
    visibility: hidden;
}

.wrapper_page2 {
    height: 812px;
}

    .wrapper_page3 {
        height: 812px;
    }

.wrapper_page3 .user {
    visibility: hidden;
}

.wrapper_page3 h3 {
    visibility: hidden;
}

.wrapper_page3 .networks
{
    display: grid;
    padding-top: 0;

}
.wrapper_page3 .networks img {
    padding-top: 10px;
}
#footer {padding-top: 130px}
}

@media only screen and (max-width: 1600px) {
    .wrapper .rightSide {
        margin-right: 109px;
    }

    .wrapper .leftSide {
        margin-left: 50px;
    }

}

@media only screen and (min-width: 1700px) {



.wrapper {
    width: 60%;

}
 .wrapper.rightSide {
        padding-right: 120px;
    }
    .wrapper_page2 {
        width: 60%;
    }
    .wrapper_page3 {
        width: 60%;
    }
}